body{
    height: 100vh;
    display: flex;
}
.container{
    margin-top: 100px;
    height: 80%;
}
.container2{
    margin-top: 80px;
    height: 20%;
    
}
.footer{
    position: relative;
    clear:both;
}
a{
    text-decoration: none;
}