body{
    height: 100hv;
}
.container1{
    height: 10%;
}
.container2{
    height: 90%; 
    margin-top: 100px;
}

.footer{
    background: #f5f5f5;
    position: absolute;
    margin-bottom: auto;
    margin-top: auto;
    bottom:0;
    box-sizing:none;
    width:100%;
    padding: 10px;
}
a{
    text-decoration: none;
}