.div1{
    height: 300px;
    width:300px;
    background-color: blue;
}
.div2{
    height: 300px;
    width:300px;
    background-color: red;
}
.div3{
    height: 300px;
    width:300px;
    background-color: green;
}
