*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 600px;
    width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    
}
.container-left{
    width: 700px;
}
.container-right{
    width:250px;
    margin-left: 20px;
}
input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 0px;
    box-sizing: border-box;
    outline: 0;
}
.agree-term {
    display: inline-block;
    width: auto; 
    margin-top: 10px;
}  
.form-button{
    display: flex;
    width: auto;
    margin-top: 20px;
    
}
.form-submit1{
    padding: 8px 10px;
    float: right;
    color: ivory;
    box-sizing: none;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-image: linear-gradient(#BA55D3, #FF69B4);
    cursor: pointer;
 }

 .form-submit2{
    padding: none;
    border: none;
    border-radius: none;
    background-color: white;
    font-weight: bold;
 }
 .form-submit:hover {
    background: #4292dc; }

 h4{
    font-weight: 510;
 }

