.container{
    &__h1{
        color: Green;
    }
    &__nav{
        background-color: black;
        height: 300px;
        width: 300px;
    }
    &__a{
        color: red;
    }
    &__a.hover{
        color: blue;
    }
}